{% extends "shared/editlayout.html" %} {% block title %} Change Password {% endblock %} {% block edit %}


        <div class="col-9">
            <h3>Change Password</h3>
            <form action="/change" method="post">
        <div class="form-group">
            <input autocomplete="off" required autocomplete = "off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" required autocomplete = "off" name="currentPassword" placeholder="Current Password" type="password">
        </div>
        <div class = "form-group">
            <input class="form-control" required autocomplete = "off" name = "newPassword" placeholder = "New Password" type = "password">
        </div>
        <div class = "form-group">
            <input class="form-control" required autocomplete = "off" name = "confirmNewPassword" placeholder = "(Re-type) New Password" type = "password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
        </div>


{% endblock %}


